body { 
    background: rgb(126, 15, 126);
    color: white;
}
.container {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    text-align: center;
}
ul {
    width: 70%;
    margin: 0 auto;
}
li {
    font-size: 1.2em;
    margin: 15px 10px;
    padding: 15px 10px;
    background: rgb(180, 25, 180);
    border-radius: 4px;
    color: white;
    list-style-type: none; 
}
li a {
    color: white;
    text-decoration: none;
}
li:hover {
    background: rgba(180, 25, 180, .9);
    color: rgb(185, 183, 183);
}
