.container {
    margin: 0 auto;
    width: 90%;
    max-width: 700px;
    text-align: center;
}
ul {
    width: 50%;
    margin: 0 auto;
}
li {
    font-size: .9em;
    margin: 5px 10px;
    padding: 10px 5px;
    background: rgb(180, 25, 180);
    border-radius: 4px;
    color: white;
    list-style-type: none; 
}
li a {
    color: white;
    text-decoration: none;
}